/*Glyph Icons*/
html, body {height: 100%; width: 100%} 
.prodcat .catname p,
.loginslides .logindesc .shop,
.additional_option .btnset a,
.subtotalbreakdown .btnset a,
.checkout .steptab li,
.checkpayment .paynow
{
font-family: 'Montserrat', sans-serif;
}
.featuredbanner h3,
.sidesocial h5,,
.formreg h5,
.tabs a,
.sidemenu .title h5,
.popular  h4,
.popular .items h3,
.discount_tag span,
.discount_tag h4,
.featuredbanner h4,
.popularprod .catdesc h3,
.body .title,
.discount_prize h1,
.details .prod_desc h5,
.product_details .nav-tabs li a,
.shopping_cart .table tr th,
.subtotalbreakdown .breakdownsub,
.subtotalbreakdown td
{
font-family: 'Roboto', sans-serif;
}
.subnav .siteoption .signin,
.loginform p a
{
font-family: 'Source Sans Pro', sans-serif;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
}
.body{
	padding-top:32px;
}
.container{
	width:1170px !important
}
.main section{
	height:453px;
	overflow:hidden;
	margin-bottom:30px 	 	
}.main .mainsection{
	height:520px;
}
.checkform .checktitle h3,
.checkform .checktitle small,
.checkform .checktitle span,
.prodname span,
.popularprod .catdesc h5,
.leftdrawer  span,
.loginslides .logindesc p strong,
.topnav a,
.search .searchbox{
		font-family: 'Open Sans', sans-serif;
}

.topnav{
	background:#181818
}
.topnav a{
	color:#B3B3B3;
	padding:10px 0;
	display:block;
	font-size:12px
}
.bottomfooter a:hover,
.topnav a:hover{
	color:#fff;
}
.lefthead{
text-align:center;
opacity:1;
}
.main_head{
	background:#f7f7f7;
	border-bottom:#e9e9e9 solid 1px;
	padding:20px 0;
	 transition: all 0.4s ease;
}
.main_head.sticky{
	/*font-size: 24px;*/
  height: 78px;
  background: #000;
  position:fixed;
  top:0;
  z-index:800;
  width:100%;
}
.primary{
	position:relative
}
.primary.sticky{
	position:fixed;
	z-index:900;
	top:54px;
	display:none;
	    width: 261px;
}
.primary.sticky.open{
	display:block
}
.primary.sticky.close{
	display:none
}
.primary.sticky h4{
	display:none
}
.main_head.sticky .lefthead a {
	display:none
}
.main_head.sticky .social{
	float: left;
    /*margin: 0px 0 0 0; */
}
.catbtn{
	display:none;
}
.main_head.sticky  .catbtn{
	display:block;
	width:100%;
	text-transform:uppercase
}
.main_head.sticky .social i{
    position: relative;
    top: 3px;
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
    color: #fff;
} .social a:hover{
    background:#d0164b
}
.main_head.sticky .search{
    position: relative;
    top: 2px;
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
}
.main_head.sticky .recent{
	display:none
}
.lefthead a{
		display:inline-block;
		width:88px;
		height:53px;
		background:url(images/logo.png) no-repeat;
		text-indent:-99999px;
}
.search {
	width:643px;
	float:left;
	margin-right:14px;
}
.search  .input-group{
	margin-bottom:10px;
}
.search .searchbox{
	border:#a7a7a7 solid 1px;
	border-right:none;
	background:url(images/innershadow.jpg) repeat-x top left #fff;
	font-size:14px;
	padding:15px;
}
.search .btn{
	background:#d0164b;

		-moz-border-radius:0;
	-webkit-border-radius:0;
	-o-border-radius:0;
	border-radius:0;
	border:#c11143 1px solid;
}
.search_group .btn span{
	border-right:#b2b2b2 solid 1px;
	margin-right:8px;
}
.cart .btn{
	background:#d4d4d4;
	padding:3px 7px 3px 0;
}
.search .btn:hover{
	border:#c11143 1px solid;
}
.recent a{
	color:#7b7b7b
}
.cart{
	float:left;
	margin-right:10px;
}
.cart a{
	color:#6a6a6a
}
.cart a i{
    font-style: normal;
}
.social {
	float:left;
	margin:8px 0 0 0;
}
.social a{
	background:#7b7b7b;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	border-radius:50%;
	background:#7b7b7b;
	color:#fff;
	text-align:center;
	vertical-align:middle;
	display:inline-block;
	width:20px;
	height:20px;
	margin:0 4px 0 0;
}	
.social .instagram{
	margin:0;
}
.social i{
	position:relative;
	top:2px;
	display:inline-block;
}

.sidenav {
	border:#dbdbdb solid 1px;
}
.sidebar h4{
	background:#d0164b;
	text-transform:uppercase;
	color:#ffffff;
	padding:8px 20px;
	margin-bottom:0;
	margin-top:0;
}
.sidenav li {
	border-bottom:#e4e4e4 solid 1px;
}
.sidenav li a{
	padding:9px 20px 9px 20px;
	display:block;
	color:#000;
	font-size:14px;
	background:#fff
}
#dropnav .sidenav li  .morecategories a,
.sidenav li  .morecategories a{
	    padding:0;
	background:none;
	display:block;
		font-size:12px;
		width:auto
}
#dropnav .sidenav li  .morecategories a:hover span,
.sidenav li  .morecategories a:hover span,
#dropnav .sidenav li  .morecategories a:hover,
.sidenav li  .morecategories a:hover{
	color:#d0164b ;
}
.sidenav li  .morecategories .leftdrawer .thumbfeatures li {
    width: 113px;
    float: left;
    margin-right: 10px;
    border: none;
}
.sidenav li .morecategories{
	display:none; /*none*/
}
.sidenav li:hover  .morecategories{
	display:block;
}
#dropnav .sidenav li:hover  .morecategories a,
.sidenav li:hover  .morecategories a{
	background:none;
	color:inherit;

}
#dropnav  .sidenav li .leftdrawer span,
.sidenav li .leftdrawer span{
	width:auto
}
.sidenav li:hover .leftdrawer span{
	color:#000
}
#dropnav .sidenav li:hover  .morecategories li,
.sidenav li:hover  .morecategories li{
	border:none
}
.sidenav li:hover a{
	background:#e5e3e3;
	color:#d0164b;

}

.sidenav li:hover span{
	color:#d0164b;
}
.sidenav span{
	width:28px;
	display:inline-block;
	color:#878787;
	font-size:14px;
}
section{
	clear:both;
}
.showcase .featured{
	display:table-cell;
	width:458px;
	vertical-align:top;
	
}
.showcase .latest{
	width:195px;
	display:table-cell;
	vertical-align:top;
	margin-left:-2px
}
.showcase  h3{
	font-size:18px;
	padding:21px 25px 22px 14px;
	margin:0;
	text-transform:uppercase;
}
.showcase .latest h3{
	background:#003366;
	color:#ccd6e0;	
}
.choice{
	width:193px;
	display:table-cell;
	background:#d0164b
}
.selection p{
	color:#fff;
	font-size:14px;
	margin:0 10px
}
.choice h3{
	color:#fff
}
.sidemenu{
	background:#f5f5f5;
	border-right:#e4e4e4 solid 1px;
	border:#e4e4e4 solid 1px;
	border-top:0;
	
}
.sidemenu .inner{
	padding:0 28px;
	border-top:#d0164b  solid 6px;
}	
.sidemenu .title {
	padding-bottom:12px;
	margin-bottom:15px;
	border-bottom:#d0164b solid 1px;
}
.sidemenu .title h5{
	font-size:18px;
	color:#003366;
	text-transform:uppercase;
	margin-bottom:0;
	font-weight:600
}
.sidemenu .title span{
	font-size:12px;
	color:#7a7a7a;
	text-transform:none;
	font-weight:300
}
.links {
	margin:0;
	padding:0;
}
.links li{
	display:inline-block;
	width:49%;
	margin:0px 0px 17px 0px !important;
	font-size: 12px;
}
.links li a{
	color:#000;
	 transition:  transform 1s linear;
	    -webkit-transition-duration: 5s; /* Safari */
    transition-duration: 5s;
}
.links li a:hover{
	color:#d0164b;
}
.shoplist li{
  list-style: none;
}
.shoplist .directlink{
	background:#e0eced;
	padding:8px 0 5px 30px;
	border-top:#dbdbdb solid 1px;
	border-tbottom:#dbdbdb solid 1px;
	display:block;
}.shoplist .directlink:hover{
	background:#cae2e4;
	padding:8px 0 5px 30px;
	border-top:#dbdbdb solid 1px;
	border-tbottom:#dbdbdb solid 1px;
	display:block;
}
.shoplist .directlink:after{
  content: "\e600";
  font-family: 'arrow';
  line-height: 1;
  /* margin-left: 10px; */
  display: inline-block;
  vertical-align: middle;
  font-size: 32px;
  color:#b7c1c1
}
.shoplist .directlink img,
.shoplist .directlink span{
	display:inline-block;
	vertical-align:middle
	
}
.shoplist .directlink span{
	display:inline-block;
	width:137px
	
}
.shoplist .directlink img{
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	border-radius:50%;
	margin-right:10px;
}
.shoplist ul{
	margin:0;
	padding:0;
}
.shoplist .directlink h4{
	margin:0;
	font-size:13px;
	color:#000;
	font-weight:bold;
	background:none;
	padding:0;
	text-transform:none
}
.shoplist .directlink small{
	font-size:11px;
	color:#000;
}
.product_post{
display:table-cell;
width:653px;
vertical-align:top;

}
.product_post li{
	padding:0;
	margin:0;
}
.promoproduct{
	display:table-cell;
	width:181px;
	vertical-align:top;
}
.showblock{
	margin-left:13px;
}
.blockstyle .blocktitle{
	font-size:17px;
	padding:13px 8px 13px 14px;
	margin:0;
	text-transform:uppercase;
	color:#fff;
	background:#d0164b
}
.blockstyle .blocktitle h3{
	padding:0;
	margin:0;
	font-size:17px
}
.blockstyle span{
	font-size:12px;
	color:#e88ba5
}
.carousel{
	background:#181818
}
.ih-item.square{
  width: 180px;
  height: 201px;
  border: none
}
.categoryprod{
	background:#181818;
	vertical-align:middle;
	position:relative;
	height:50px;
}	
.categoryprod li{
	display:inline-block;
	text-align:center
}
.categoryprod li a{
	padding:16px 0;
	display:block;
}
.categoryprod li .bx-prev{
	width:26px;
	height:50px;
	background:#0e0e0e;
}
.centerwrap{
	width:600px;
	margin:auto;
}
.categoryprod .bx-prev:hover,
.categoryprod .bx-next:hover{
  opacity: 0.8;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}
.categoryprod  a:hover{
  opacity: 0.3;
}
.categoryprod  .bx-prev{
	display:block;
	position:absolute;
	left:0;
	width:26px;
	height:50px;
	background:url(images/arrow-left.jpg) no-repeat;
	top:0;
	text-indent:-9999px;
}
.categoryprod  .bx-next{
	display:block;
	position:absolute;
	right:0;
	width:26px;
	height:50px;
	top:0;
	background:url(images/arrow-right.jpg) no-repeat;
		text-indent:-9999px;
}
.hovereffect  .boxcell{
	display:table-cell;
	overflow:hidden;
	position:relative;
	margin-left:0px;
}
.hovereffect  .boxcell.last{
margin:0;
}
.hovereffect  .boxcell a{
	display:block;
}
.hovereffect  .boxcell span{
	position:absolute;
	bottom:5px;
	color:#000;
	text-transform:uppercase;
	z-index:200;
	font-size:14px;
	font-weight:700;
	left:5px;
}.hovereffect  .boxcell:hover span{
color:#fff;

}
.mask{
 opacity: 0;
   overflow:visible;
   border:100px solid rgba(208,22,74,0.7);
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box;
   box-sizing:border-box;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
   position:absolute;
   top:0;
}
.hovereffect .boxcell:hover .mask{
   opacity: 1;
   border:100px solid rgba(208,22,74,0.7);
}
.bestseller .prodlist{
	/*padding-top:14px;*/
		background:#e1dede;
}
.bestseller .prodlist .entry{
	padding:18px 17px 23px 17px;
	position:relative;
	height:204px;
	border-bottom:#c4c1c1 solid 1px;
	
}
.prodlist .entry .desc{
	position:relative;
	z-index:200;
}
.bestseller .prodlist .entry span{
	color:#eb3332;
	font-weight:700
}
.bestseller .prodlist .entry  h5{
	font-size:12px;
	color:#000;
	margin:0;
	text-transform:uppercase;
	font-weight:700;
	margin-bottom:5px;
}
.bestseller .prodlist .entry p strong{
	font-size:18px;
	color:#f23f38
}
.bestseller .showimage{
	position:absolute;
	right:20px; 
	bottom:7px;
}
.bestseller .showimage.bag{
	right:0px; 
	bottom:0
}

.footer_info h4{
	margin-top:0;
	text-transform:uppercase;
	color:#003366;
	font-size:14px;
}
.footer_info{
	background:#f7f7f7;
	padding:37px 0
}
.footer_info .media p{
	color:#000
}
.footer_info .media-left span{
	font-size:19px;
	color:#7b7b7b
}
.cat_list ul img{
	max-width:100%;
}
.rangeslider{
	margin-bottom:10px;
}
.searchfield{
	padding-top:10px;
}
.bottomfooter{
	background:#181818;
	padding:10px 0;
}
.bottomfooter a{
	color:#464646
}
.short_desc{
	  border-bottom: 1px solid #ddd;
}
.form p{
	clear:both;
}
.form p label{
	display:inline-block
}
.blocklist .directlink img{
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	border-radius:50%;
	margin-right:10px;
}
.blocklist ul{
	margin:0;
	padding:0;
}
.blocklist ul li{
	clear:both;
	padding:13px 0;
	background:#f5f5f5;
	border-bottom:#d6d6d6 solid 1px;
	border-left:#d6d6d6 solid 1px;
	border-right:#d6d6d6 solid 1px;
}
.blocklist ul li{
	overflow:auto;
}
.blocklist  .icon{
	width:25%;
	float:left;
	margin-right:5px;
	margin-left:13px;
}
.blocklist  .desc{
width:63%;
	float:right;
	margin-right:5px;
	overflow:hidden
}
.blocklist .desc,
.blocklist .directlink h4{
	margin:0;
	font-size:13px;
	color:#000;
	font-weight:bold;
	display:inline-block;
	vertical-align:middle
}
.blocklist .directlink small{
	font-size:11px;
	color:#000;
	font-weight:normal;
	   white-space: nowrap;
	  	display:inline-block;
	vertical-align:middle
}
.discount_tag{
position: absolute;
    bottom: 15px;
    left: 0;
    background: url(images/discounttag.png) no-repeat;
    width: 81px;
    z-index: 200;
}
.discount_tag span{
	color:#fff !important
}
.prevprice{
 text-decoration: line-through
}
.discount_tag h4{
	color:#fff;
	margin-left:5px;
}
.discount {
	background:#d9e8e9
}
.popular{
	background:#003366;
	padding:26px 0px 44px 0px;
	position:relative
}
.popular .items{
	background:#ffffff;
	padding:15px 20px;
	position:relative;
	height:290px
}
.popular .items h5{
	font-weight:bold;
}
.popular .items h5 span{
	font-size:14px;
	font-weight:normal
}
.popular  h4{
	font-size:18px;
	color:#ccd6e0;
	text-transform:uppercase
}
.popular .items h3{
	padding-bottom:0;
	margin-top:0;
	position:absolute;
	bottom:10px;
	font-size:30px;
	color:#d0164b;
	font-weight:700
}
.popular  ul li{
	float:left;
	margin-right:23px;
	height:290px;
}
#slider-next a,
#slider-prev a{
	width:31px;
	height:55px;
	position:absolute;
	cursor:pointer;
		top:40%;
	display:block;
	text-indent:-99999px;
	 z-index:1
}#slider-prev a{
	background:url(images/arrowleftslide.png) no-repeat;
	left:50px;

}
#slider-next a{
	background:url(images/arrowrightslide.png) no-repeat;
	right:50px;
}
#slider-prev a.disabled,
#slider-next a.disabled{
	opacity:0.2;
	cursor:default
}
.newsletter input[type=text]{
	margin-bottom:15px;
	width:232px
}
.newsletter .btn-primary{
		background:#003366;
		-moz-border-radius:0;
		-webkit-border-radius:0;
		-o-border-radius:0;
		border-radius:0;
		width:116px;
		border:#003366
}
.newsletter .pink{
		background:#d0164b;
		-moz-border-radius:0;
		-webkit-border-radius:0;
		-o-border-radius:0;
		border-radius:0;
		width:116px;
		color:#fff
}
.newsletter .btn-primary:hover,
.newsletter .pink:hover{
	opacity:0.9
}
.maskbg{
	width:100%;
	height:100%;
	background:#000;
	opacity:0.6;
	position:fixed;
	z-index:400;
	top:0;
	display:none;

}
#dropnav{
	z-index:200;
	position:fixed;
	display: none;
}
#dropnav.open{
	display:block;
}
#dropnav  h4{
	display:none;

}
.main_head.sticky .lefthead #dropnav{
	z-index:900
}
.main_head.sticky .lefthead #dropnav  a{
	display:block;
}
.sidenav .more a{
	background:#e5e3e3;
		color:#d0164b;
		font-weight:700;
		font-size:13px;
		padding-top:5px;
}.sidenav .more:hover a{
	background:#dddddd;
}
.sidenav .more {
	color:#d0164b
}
.sidenav .more small{
	font-size:10px;
	clear:both;
	display:block;
	color:#4c4c4c;
	position:relative;
	left:29px;
	font-family: 'Open Sans', sans-serif;
	text-transform:initial;
	width:192px;
	font-weight:400}

.sidenav .more span{
    font-size: 20px;
    left: -3px;
    position: relative;
    top: 10px;
    color: #d0164b;
}
.sidenav .fa-plus{
	border:#d0164b solid 1px;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	-o-border-radius:50%;
	display:inline-block;
	color:#d0164b;
	padding:1px 3px 0px 3px;
	margin-right:3px;
	text-align:center;
	font-size:12px;
}
.sidenav .more{
	text-transform:uppercase
}
#dropnav .sidenav li a{
    padding: 9px 20px 10px 20px;
    color: #000;
    font-size: 14px;
    background: #fff;
    text-indent: inherit;
    width: 259px;
    height: auto;
    text-align: left;
}
#dropnav .sidenav li:hover a{
	background:#e5e3e3;
	color:#d0164b;
}
/*pages css*/
.account .body{
	padding-bottom:100px;
	padding-top:68px;
}
.account #sticky{
    font-size: 24px;
    height: 78px;
    background: #000;
    top: 0;
    z-index: 800;
    width: 100%;
	position:relative;
}
.account 	.sticky#sticky{
	position:fixed
}
.account #sticky .recent{
	display:none
}
.account .topnav{
	display:none
}
.account .lefthead a{
	display:none
}
.account  .lefthead #dropnav a{
	display:block
}

.account .lefthead .catbtn{
	display:block;
	width:100%;
	   text-transform: uppercase;
}
.account .social {
    float: left; 
    margin: 0px 0 0 0; 
}
.account  .social i{
	 position: relative;
    top: 3px;
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
}
.subnav{
	background:#f7f7f7;
}
.subnav .siteoption{
	vertical-align:middle;
	float:left;
	padding:7px 0 8px 0
}
.subnav .siteoption .logo img{
	height:53px;
}
.subnav .siteoption .logo{
	display:inline-block;
		vertical-align:middle;
	margin-right:38px;
}
.subnav .siteoption .signin{
	display: inline-block;
    padding-left: 38px;
    border-left: #cbd6d6 solid 1px;
    font-size: 25px;
    vertical-align: middle;
    color: #454545;
    line-height: 29px;
    position: relative;
    top: 4px;
}
.subnav .backoption{
	float:right;	
	vertical-align:middle;
	margin-top:25px;
}
.subnav .backoption p{
	color:#969b9b;
}
.subnav .backoption p a{
	color:#d0164b
}
.loginform{
	width:430px;
	background:#dfe5e5;
	padding:30px;
	border:#cdd7d7 solid 1px;
}

.loginform .input-group{
	margin:0 0 17px 0;
	position:relative;
	display:block;
	overflow:auto;
}
.loginform .input-group .text{
	width:100%;
	padding:20px 16px 20px 47px;
		color:#515151
}
.loginform .input-group-addon{
	position:absolute;
	z-index:200;
	border:none;
	padding:0;
    top: 15px;
    left: 16px;
}.loginform .input-group-addon span{
	color:#515151
}
.loginform h4{
	font-size:30px;
	color:#515151;
	margin:0;
	padding:0;
	padding-bottom:28px;
	margin-bottom:28px;
	border-bottom:#c8d2d2 solid 1px;
}
.loginform a{
	color:#515151;
	
}
.loginform button{
	display:block;
	width:100%;
	margin:30px  0 20px 0;
	padding:10px 0;
	text-align:Center;
	font-size:30px;
}
.loginform p{
	font-size:12px;
}
.loginform p a{
	font-weight:700;
	text-decoration:underline
}
.loginslides{
	margin-top:38px;
}
.loginslides .illustrate{
	width:255px;
	float:left;
}
.loginslides .logindesc{
	width:340px;
	float:left;
	margin-top:72px;
}
.loginslides .logindesc p{
	margin:0 0 10px 0
}
.loginslides .logindesc p strong{
	color:#a3a3a3;
	font-weight:800;
	font-size:20px;
}
.loginslides .logindesc h3{
	color:#181818;
	font-weight:400;
	font-size:24px;
	margin:0;
	text-transform:uppercase;
	margin-bottom:5px
}
.loginslides .logindesc span small{
	font-size:14px;
}
.loginslides .logindesc .shop{
	font-size:14px;
	text-transform:uppercase;
	color:#181818;
	width:150px;
	text-align:center;
	border:2px solid #d0164b;
	display:block;
	font-weight:700;
	padding:10px 0;
	margin-top:15px;
}
.loginslides .logindesc .shop:hover{
	background:#d0164b;
	color:#fff
}
.loginslides .bx-pager-item a{
	display:block;
	width:10px;
	height:10px;
	background:url(images/sliderpager.png) no-repeat;
	text-indent:-99999px;
}.loginslides .bx-pager-item a.active{
	background-position:left bottom
}
.loginslides .bx-pager-item{
	float:left;
	margin-right:10px;
	margin-top:46px;
}
.tabs{
	background:#d9e9e9;
	border-bottom:#c6dede solid 1px;
	overflow:hidden;
	width:780px;
	margin-bottom:40px;
}
.tabs a{
	width:260px;
	padding:10px 0;
	display:block;
	text-align:left;
	float:left;
	font-size:18px;
	color:#fff;
	font-weight:bold;
	color:#515151;
	border-right:#c8d4d4 solid 1px;
}
.tabs a span{
	margin-left:32px;
	margin-right:30px;
	top:2px;
	position:relative;
	color:#97a3a3
}
.tabs a.last{
	border:none
}
.tabs a.active span{
	color:#fff
}
.tabs a:before{
	content: "\e6002";
  font-family: 'arrow';
  line-height: 1;
}
.tabs a.active{
	background:#003366;
	color:#fff
}
.sidesocial h5,
.formreg h5{
	font-size:18px;
	color:#000;
	margin:0 0 13px 0
}
.youremail{
	position:relative;
	width:376px;
}
.youremail .text{
	padding:12px 12px 12px 40px
}
.youremail span{
	position:absolute;
	top:8px;
	left:10px;
	font-size:18px;
	color:#d3dada
}
.check .icheckbox_square-red{
	margin:2px 10px 0 0;
	float:left;
}	
.check span {
	width:90%;
	float:left;
	font-weight:normal
}	
.border-right{
	border-right:#ccd9d9 solid 1px
}
.sidesocial{
	padding-top:17px;
}
.sidesocial li{
	margin-bottom:14px;
}
.socialsignup{
	margin-left:25px;
}
.next{
	width:177px;
	padding:10px 0;
	/*font-size:24px;	*/
	margin:40px 0 0 0;
}
.tcontent{
	margin-bottom:15px;
}
.grouplabel .labeltext{
	display:inline-block;
	margin:0 170px 50px 0;
}
.grouplabel .labeltext.last{
	margin-right:0;

}
.grouplabel .labeltext h5{
	font-size:18px;
	margin:0 0 10px 0;
}
.groupinput .form-group label{
	display:block;
}
.groupinput .form-group{
	margin:0 8px 0 0;
}
.groupinput .username{
	margin-right:45px;
}
.modal-title{
	font-size:30px;
}
.groupinput  input{width:258px !Important}
.agreement 	button{
	padding:10px 15px;
	font-size:24px;
	margin-top:20px;
}
.morecategories{
	width:684px;
	position:absolute;
	height:519px;
	background:#f5f5f5;
	z-index:700;
	top:0;
	left:262px;
}
#dropnav .morecategories{
	  top: -34px;
    left: 261px;
		height: 535px;
}
.morecategories section{
	height:auto;
	padding-left:15px;	
}
.morecategories  ul{
		width:100%;
		height:100%
}
.leftdrawer{
	width:495px;
	float:left;
	height:100%
}
.leftdrawer .thumbfeatures li{
	width:113px;
	float:left;
	margin-right:10px;
}
.leftdrawer .thumbfeatures  img{
	display:block;
	margin-bottom:10px
}
.leftdrawer .thumbfeatures{
	/*border-bottom:#d1d1d1 solid 1px;*/
	overflow:auto;
	padding-bottom:20px;
	margin-bottom:15px;
}
.leftdrawer h5{
	font-size:15px;
	color:#d0164b;
	margin-bottom:16px;
	padding-bottom:10px;
	border-bottom:#d1d1d1 solid 1px;
	font-weight:700;
		font-weight:700;
}
.leftdrawer  span{
	font-size:12px;
	color:#000
}
.leftdrawer .categorieslink h5{
	border:none;
	color:#d0164b;
	padding-bottom:0;
	margin-bottom:10px;
	font-size:14px;
	font-weight:700;
			font-family: 'Open Sans', sans-serif;
	text-align:left
}
.leftdrawer .categorieslink  a{
	display:block;
	margin-bottom:5px;
	color:#000
}
.leftdrawer .categorieslink  a:hover{
	color:#d22556 !Important
}
.leftdrawer .categorieslink .col-3{
	/*width:163px;*/
	/*float:left;*/
	padding-right:22px;
	font-family: 'Open Sans', sans-serif;
}
.rightdrawer{
	width:166px;
	float:right
}
.last{
	padding:0 !important;
	margin:0 !important
}
.newsletterform{
background:#d0164b;
padding:0px 17px 30px 17px;
}
.newsletterform span{
	display:block;
	margin-bottom:13px;
}
.newsletterform .btn-default{
	border:#ffffff solid 2px;
	padding:5px 0;
	width:100%;
	background:none;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
	text-transform:uppercase;
	color:#fff !important;
	text-transform:uppercase;
}
.newsletterform .btn-default:hover{
	color:#000 !important
}
.showcase .blockstyle .blocktitle{
	padding-top:25px;
}

/*pages category list*/
.page{
	background:#f7f7f7
}
.page .main .mainsection{
	height:auto;
}
.page .sidenav {
	margin-bottom:30px
}
.categoryview .col-3{
	background:red
}
.categoryview .prodimage{
	text-align:center;
	vertical-align:middle;
	height:176px;
}

.categoryview .prodimage img{
	text-align:center;
	vertical-align:middle;
	display:inline-block;
}
.featuredbanner h3{
	text-transform:uppercase;
	color:#000;
	font-size:24px;
	padding-top:0;
	margin:0;
	font-weight:700;
	margin-bottom:20px;
}
.prodcat .imgview {
	text-align:center;
	padding-top:20px;
	background:#f5f5f5;
	overflow:hidden;
	height:159px
}
.prodcat .col-xs-3{
	margin:0 0 30px 0;
}
.prodcat .catname{
	background:#d0164b;
	color:#fff;
	text-transform:uppercase;
	padding:10px 10px 10px 16px;
}
.prodcat .catname p a {
	color:#fff;
	text-transform:uppercase;
}

.brandshow{
	border-top:#ebedf0 solid 1px;
}
.brandshow .brandlist{
	border-bottom:#ebedf0 solid 1px;
	padding:10px 0;
}
.shopbrandslides  .bx-pager-item a{
  height:0px;
  width:0px;
  color:transparent;
}
.shopbrandslides  .bx-pager-item{
 float:left;
 padding-top:10px;
}
.shopbrandslides  .bx-pager-item a:before{
		content: "\1542";
	font-family: 'circ';
  line-height:1;
  height:10px;
  width:10px;
  display:inline-block;
  color:#949494
}
.shopbrandslides  .bx-pager-item a.active:before{
  color:#d0164b
}
.prodcat .catname p{
	padding:0;
	margin:0;
}
.categorybanner{
	margin:0 0  20px 0
}
.content  h4{
	color:#003366;
	text-transform:uppercase;
	font-weight:700;
	margin-bottom:20px;
}.titlehead {
	clear:both;
}
.titlehead h3{
	float:left;
	    text-transform: uppercase;
    color: #000;
    font-size: 24px;
    padding-top: 0;
    margin: 0;
    font-weight: 700;

}
.prodcat{
	clear:both;
}
.shopbrandslides{
	margin-bottom:60px;
}
.clear{
	clear:both;
}
.popularprod .box{
	border:#f5f5f5 solid 1px;
	padding-bottom:0;
	margin:0;
}

.popularprod .illustrate{
	text-align:center;
	height:178px;
	vertical-align:middle;
	overflow:hidden;
	display:list-item;
	position:relative
}
.popularprod .catdesc{
	padding:15px;
	border-top:#e2e2e2 solid 1px;
}
.popularprod .catdesc h5{
	font-size:15px;
	color:#000000;
	margin-bottom:5px;
		font-weight:700
}
.popularprod .catdesc span{
	font-size:12px;
	display:block
}
.popularprod .catdesc h3{
	font-size:24px;
	color:#d0164b;
	font-weight:700;
	vertical-align:top
}
.popularprod .catdesc small{
	color:#bcbcbc;
	font-size:15px;
	vertical-align:top;
	top:2px;
	position:relative
}
.popularprod .titlehead{
	border-bottom:#ebedf0 solid 1px;
	margin:0 0 30px 0;
	padding-bottom:30px;
	padding-top:20px;
}
.defaultselect .btn,
.selectmenu .btn{
	background:none;
}
.defaultselect  .btn-group.open .dropdown-toggle,
.selectmenu .btn-group.open .dropdown-toggle{
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	-o-box-shadow:none;
	box-shadow:none;

}
.defaultselect .caret,
.selectmenu .caret{
	color:#d0164b
}

.selectmenu .btn-group{
	background:none;
	border:#d2d2d2 solid 1px;
	width:200px;
}
.defaultselect {
	background:none;
	border:#d2d2d2 solid 1px;
}
.defaultselect .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle),
.selectmenu .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle){
    width: 171px;
	text-align:left
}
.selectmenu .open > .dropdown-menu{
	width:200px;
}
.defaultselect .dropdown-menu > li > a,
.selectmenu .dropdown-menu > li > a{
	background:#003366;
	color:#8099b3;
	padding-top:5px;
	padding-bottom:5px;
	border-bottom:#0d3d6e solid 1px;
}
.defaultselect .brandselect,
.selectmenu .brandselect{
	margin-right:23px;
}
.details .view_large{
	height:366px;
	border:#f3f0f0 solid 1px;
	width:555px;
}
.details .view_large .center{
	position:absolute;
	bottom:0;
	text-align:center;
	width:100%
}
h3.title{
	font-size:24px;
	color:#373737;
	text-transform:uppercase;
	border-bottom:#e8e8e8 solid 1px;
	padding-bottom:20px;
	margin-bottom:30px;
	font-weight:700
}
.prodname{
	margin-bottom:10px;
}
.prodname  h4{
	font-size:24px;
	font-weight:400
}
.prodname span{
	display:inline-block;
	margin-right:14px;
	color:#7f7f7f
}
.details .view_large{
	text-align:center;
vertical-align:bottom;
overflow:hidden;
position:relative;
margin:0 0 20px 0;
}
.discount_prize{
	position:absolute;
	background:#d0164b;
		width:100%;
		padding:3px 5px 3px 15px;
		bottom:0;

}
.discount_prize h1{
	font-size:20px;
	color:#fff;
	margin:0;
		text-align:left;
		font-weight:700;
		float:left;
}.discount_prize span{
	float:right;
	color:#12px;
	color:#e88ba5;
	text-decoration:line-through;
	display:block;
	margin:2px 0;
}
.details{
	margin-bottom:60px
}
.details .thumbs{
	position:relative;
	margin-bottom:20px;
}
.details .additional_link{
	margin:0 0 0 30px
}
.details .additional_link a{
	text-transform:uppercase;
	font-size:12px;
	color:#7f7f7f;
	margin-right:30px;
	display:inline-block
}
.details  .bx-controls .bx-next,
.details .thumbs .bx-controls-direction .bx-prev {
	  height:0px;
  width:0px;
  color:transparent;
  position:absolute;
  top:20px
}
.details  .bx-controls .bx-prev{
	left:0;
}.details  .bx-controls .bx-next{
	right:36px;
}
.details  .bx-controls .bx-controls-direction{
	width:100%;
}
.details  .bx-controls .bx-prev:before{
content: "\395";
font-family: 'arrow-left';
  line-height:1;
font-size:27px;
  display:inline-block;
  color:#d4d4d4; 
  font-size:37px;
}
.details  .bx-controls .bx-next:before{
    content: "\e600";
    font-family: 'arrow';
  line-height:1;
font-size:27px;
  display:inline-block;
  color:#d4d4d4; 
  font-size:37px;
}

.details .thumbs li{
	float:left;
}
.details .price {
	clear:both;
	border-bottom:#eaeaea solid 4px;
	padding-bottom:15px;
	margin-bottom:25px;
}
.details .price h3{
	color:#d0164b;
	font-size:36px;
	width:294px;
	display:table-cell
}
.details .price .prevprice{
	color:#7f7f7f;
	font-size:18px;
	display:table-cell;
	vertical-align:middle;
	text-decoration:none;

}
.details .price .prevprice span{
	    text-decoration: line-through;
}
.details .price .prevprice small{
	display:block;
	font-size:12px;
	    text-decoration: none	;
}
.details .prod_desc {
	padding-bottom:30px;
	border-bottom:#e8e8e8 solid 1px;
	margin-bottom:30px;
}
.rightside h5,
.details .additional_option h5,
.details .prod_desc h5{
	color:#003366;
	font-size:16px;
	text-transform:uppercase;
	font-weight:700;
	margin-bottom:10px;
}
.details .prod_desc .warrantylink{
	color:#d0164b;
	font-size:12px;
	text-transform:uppercase;
	border-bottom:#d0164b solid 1px;
	padding-bottom:8px;
	margin-top:40px;
	display:inline-block
}
.details .coloroption a{
	display:inline-block;
	margin:0 2px 4px 0;
}
.additional_option .inneradditional{
	border-bottom:#e8e8e8 solid 1px;
	padding-bottom:30px;
	margin-bottom:30px;
}
.additional_option .btnset a{
	width:150px;
	/*height:35px;*/
	text-transform:uppercase;
	text-align:center;
	padding:10px 0;
	display:inline-block;
	margin:0 18px 0 0;
	background:#d0164b;
	color:#fff;
	font-weight:700;


}
.product_details .nav-tabs{
	margin-bottom:30px;
}
.product_details .nav-tabs li{
	width:33.3%;
	 margin-right:0;
}
.product_details .nav-tabs li{
	vertical-align:middle;
	border-top:0;
}
.product_details .nav-tabs li a{
		text-align:center;
		font-size:20px;
		background:#dedede;
		text-transform:uppercase;
		border-right:#cdcdcd solid 1px;
		font-size:19px;
}
.product_details .nav-tabs li.active{
	border:none;
}
.product_details .nav-tabs li:hover a,
.product_details .nav-tabs li.active a{
		background:#003366;
		border:0;
		color:#fff;
}
.imglist{
		margin-bottom:30px;
}
.imglist li{
	display:inline-block;
	margin-left:-2px;
	width:33%
}
.imglist li img{
	width:100%;
}
.tab-content p{
	font-size:14px;
	margin-bottom:30px;
}
.rightside h5{
	border:none;	
	font-size:18px;
}
.rightside .box{
	border:0;
}
.rightside h3{
	font-size:24px;
	color:#d0164b
}.rightside .illustrate{
	hegiht:178px;
	text-align:center;
	border-bottom:#e2e2e2 solid 1px;
	padding:10px 0;
}
.rightside .catdesc{
padding:15px 15px;
}
.rightside .catdesc h5{
padding:0;
margin:0;
color:#000
}
.shopping_cart .imgshop{
	/*width:113px;*/
}
.shopping_cart .imgshop img{
	background:#e6e6e6;
	display:inline-block;
	padding: 6px;
    width: 70px;
}
.shopping_cart .table h4{
	font-size:18px;
	padding:0;
	margin:0;
	color:#000;
	margin:5px 0 5px 0;

}
.shopping_cart .table li {
		border-right:#d7d7d7 solid 1px;
	line-height:14px;
	
}
.shopping_cart .table ul{
	margin-left:-5px;
}
.shopping_cart .table li a{
	/*color:#333333;*/
	
}
.shopping_cart .table .qty li a{
	color:#fff;
}
.shopping_cart .table .checkprice{
	font-size:14px;
	color:#000;
	font-weight:700;
	vertical-align:top
}
.shopping_cart .table tr td{
	border-bottom:#e8e8e8 solid 1px;
	padding:10px 0;
}.shopping_cart .table tr th{
	padding:15px 0;
	background:#f7f7f7;
	text-transform:uppercase;
	font-size:14px;
	color:#003366
}
.shopping_cart .table .subtotal{
	font-size:14px;
	color:#d0164b;
	font-weight:700;
	text-align: right;
    padding-right: 40px;
}

.shopping_cart .table .th-subtotal {
	text-align: right;
    padding-right: 40px	
}

.shopping_cart .table  .deletebtn{
	display:inline-block;
	width:61px;
	height:18px;
	background:url(images/deletetext.png) no-repeat;
	text-indent:-99999px;
}
.shopping_cart .table span{
	display:inline-block;
}
.shopping_cart .table  .disc_tag{
	display:inline-block;
	padding:5px 0px 5px 5px;
	background:#d0164b;
	color:#fff;
	text-transform:uppercase;
	font-size:18px;
	line-height:16px;
	margin-right:8px
}
.shopping_cart .table  em{
	color:#7f7f7f;
	font-size:12px;
	text-decoration:line-through
}
.shopping_cart .prodcat .col-xs-2{
	margin:0 0 50px 0;
}
.defaultselect .dropdown-menu{
	border:none
}
.subtotalbreakdown{
	float:right;
	width:408px;
}
.subtotalbreakdown td{
	padding:10px 0;
}
.subtotalbreakdown td{
	font-weight:700;
	vertical-align:top
}
.subtotalbreakdown .breakdownsub{
	text-align:right;
	padding-right:50px;
	text-align:right;
	font-size:12px;
	color:#003366;
	font-weight:700;
	text-transform:uppercase;
}
.subtotalbreakdown .totalbreakdown{
	border-top:#e4e4e4 solid 1px;
	font-size:30px;
	color:#d0164b;
	font-weight:700;
	line-height:18px;
}
.subtotalbreakdown .totalbreakdown small{
	font-size:12px;
	color:#7b7b7b;
	font-weight:400;
}
.subtotalbreakdown .btnset a{
	display:block;
	width:190px;
	text-align:left;
	text-transform:uppercase;
	padding:8px 10px;
	background:#d0164b;
	float:left;
	color:#fff;
	border:transparent solid 2px;
}
.subtotalbreakdown .btnset .btnproceed{
	margin-right:10px;	
}
.subtotalbreakdown .btnset .btnproceed.disabled:hover,
.subtotalbreakdown .btnset .btnproceed.disabled{
	background: #aaa;
}
.subtotalbreakdown .btnset .btnproceed:hover{
	background:#e01b53;
}
.subtotalbreakdown .btnset .continue{
	border:#c1c1c1 solid 2px;
	background:none;
	color:#464646
}
.subtotalbreakdown .btnset .continue:hover{
		border:#d0164b solid 2px;
		color:#d0164b
}
.checkout .steptab {
	margin-bottom:60px;
}
 .checktitle{
	padding-left:40px;
	position:relative;
	padding-bottom: 10px;
    border-bottom: 1px solid #e8e8e8;
}
.checktitle h3{
	font-size:24px;
	color:#000;
	padding:0;
	margin:0px;
}
 .checktitle small{
	font-size:16px;
	color:#7f7f7f
}
 .checktitle span{
	position:absolute;
	left:0;
	font-size:24px;
	color:#d0164b;
	font-weight:bold;
	top:10px
}
.checkout .steptab li{
	width:372px;
	background:#ececec;
	padding:8px 0;
	margin-left:-10px;
	text-align:center;
	text-transform:uppercase;
	color:#767676;
	font-weight:700;
	vertical-align:middle;
	position:relative;
}
.checkout .form-control { /*border:#acacac solid 1px;*/}
.form-control::-webkit-input-placeholder { color: #333333}
.form-control:-moz-placeholder { color:#333333 }
.form-control::-moz-placeholder { color: #333333 }
.form-control:-ms-input-placeholder { color: #333333; }
.checkout .steptab li.active{
	background:#d0164b;
	color:#fff
}
.checkout .steptab .edge{
	height:36px;
	width:12px;
	position:absolute;
	right:-6px;
	top:0;
	background:url(images/arrowedge.png) no-repeat;
	z-index:200
}
.checkout .steptab .active .edge{
	height:36px;
	width:12px;
	position:absolute;
	right:-6px;
	top:0;
	background:url(images/arrowedge.png) no-repeat;
	background-position:left bottom;
	z-index:200;
}
.checkform .selectmenu{
	border:#acacac solid 1px;

}
.checkform .selectmenu .dropdown-menu{
    width: 358px;
}
.checkform .selectmenu .btn{
	width:332px;
		text-align:left
}
.checkform .selectmenu .dropdown-toggle{
	width:auto
}
.checkform .field{
	margin-bottom:30px;
	padding-bottom:30px;
	border-bottom:#aaa dashed 1px;
}
.checkform .subtotalbreakdown{
	width:auto;
	float:none;
	margin-bottom:100px;
}
.checkform .textarea{
	width:670px;
	background:#ffffff;
	border:#d4d4d4 solid 1px;
	padding:6px 12px;
	height:140px;
	margin-bottom:20px;
	min-height:auto;
	max-height:auto;	
	min-width:auto;
	max-width:auto;
}
.checkform .subtotalbreakdown .btnset,
.checkform .subtotalbreakdown table{
	float:right;
}
.checkform .check span{
	width:auto;
	margin:5px 0 0 0;
}
.checkform .btnset{
	margin:20px 0 0 0;
	text-align:Center
}.checkform .btnset a{
	text-align:Center
}
.checkpayment .totalorder,
.checkpayment .courier{
	background:#f7f7f7
}
 .checkpayment .nav-tabs li{
	width:33%;
	text-align:center;
	background:url(images/border.png) no-repeat right top;
		border-bottom:#e0e0e0 solid 5px;	
	height:44px;
	position:relative
} 
.checkpayment .nav-tabs > li.active > a,.checkpayment  .nav-tabs > li.active > a:hover,.checkpayment .nav-tabs > li.active > a:focus{
color: #555;
padding:0px 0;
	border:none;
}
.checkpayment .nav-tabs{
	border:none;
	margin-bottom:40px;
}
.checkpayment .nav-tabs li.active .edge{
	display:block;
}
.checkpayment .nav-tabs .edge{
	width:34px;
	height:17px;
	background:url(images/pointerbottom.png) no-repeat;
	    position: absolute;
    left: 44%;
    bottom: -19px;
	display:none
}
.checkpayment .nav-tabs li:hover,
.checkpayment .nav-tabs li.active{
	border-bottom:#d0164b solid 5px;	
	
}
 .checkpayment .nav-tabs li a{
	padding:0px 0;
	border:none;
}
.checkpayment{
	margin-bottom:100px;
}
.checkpayment .nav-tabs li.last{
		background:none;
}
.checkpayment  .tab-content{
	margin-bottom:60px;
 }
.checkpayment .nav-tabs {

	padding-bottom:10px;
}
.checkpayment .cardhold{
	float:right;
}
.checkpayment .cardhold label,
.checkpayment .exp label{
	display:block;
}
.checkpayment #cnumber{
	width:245px;
}
.checkpayment  #fname{
	margin-right:10px;
}
.checkpayment  #fname,
.checkpayment  #lname{
	width:130px;
}
.checkpayment  .cards li{
	margin-right:10px;
}
.checkpayment .border-right .form-group{
	margin-bottom:25px;
}
.form-control::-webkit-input-placeholder { color: #d0d0d0; }
.checkout .form-control:-moz-placeholder { color: white; }
.checkout  .form-control::-moz-placeholder { color: #d0d0d0; }
.checkout  .form-control:-ms-input-placeholder { color: #d0d0d0; }
.border-right{
	border-right:#e0e0e0 solid 1px;
}

.checkpayment .exp{
	/*float:right;*/
	clear:both;
}
.checkpayment .exp #mm,
.checkpayment .exp #yy{
	width:50px;
}
.checkpayment .form-group{
	margin-bottom:10px;
} .checkpayment .securitygroup{
	margin-left:15px;
}
.total_price_order{
	background:#003366;
	padding:8px 15px;
	overflow:auto;
	margin-bottom:5px;
}
.totalorder ul  li{
	padding:10px 0;
	border-bottom:#dedede solid 1px;
	margin-left:20px;
}
.total_price_order span{
	display:block;
	float:left;
	color:#fff;
	font-size:18px;
	margin:4px 0 0;
}
.total_price_order h4{
	display:block;
	float:right;
	color:#fff;
	margin:0;
	padding:0;
	font-size:26px;
}
.totalorder .totalbreakdown{
	margin-bottom:10px;
}
.totalorder .totalbreakdown h5{
		font-size:16px;
		color:#6d6d6d;
		font-weight:700;
		margin:0;
}
.totalorder .totalbreakdown p{
	margin:0;
	font-size:14px;
	color:#4c4c4c
}
.totalorder .totalbreakdown .first{
	border-bottom:#dedede solid 3px;
}
.totalorder .total{
		margin-left:20px;
}
.totalorder .total p{
	font-size:14px;
	color:#8b8b8b;
	margin:0;
}
.totalorder .total h2{
	font-size:20px;
	color:#d0164b;
	font-weight:700;
	margin:0;
}
.reddefault{
	width:210px;
	background:#d0164b;
	display:block;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
	padding:8px 0;
	font-size:14px;
	font-weight:700;
	margin-bottom:20px;
}
.paynow{
	margin-top:20px
}
.checkout .steptab li.active.lastli .edge{
	display:none
}
.thankyou{
	width:776px;
	margin-bottom:50px
}
.thankyou a{
	text-transform:uppercase;
	display:block;
	width:240px;
	padding:8px 0;
	border:#d0164b solid 2px;
	text-align:center;
	color:#d0164b;
	font-weight:700
}
.thankyou h4{
	font-size:24px;
}