/*a {
	color: #000;
}
a:hover {
	color:#444;
}*/

.su.alert{
	width: 780px;
	display: none;
}

#su-tab2 {
	display: none;
}

.big-loader {
	display: block;
    margin: auto;
    margin-top: 200px;
}

.view_large {
	background-color: #fff;
}

.illustrate img {
	margin-top: 25px;
}

.prod-qty {
	text-align: center;
    padding: 2px;
    font-size: 15px;
    width: 75px;
}

.no-cart-item.hide {
	display: none;
}

img.centered {
	display: block;
    margin: auto;
}

footer .discount_tag {
	top: 15px;
	height: 35px;
}

footer .discount_tag h4 {
	color: #fff;
}

.iteminfo em {
	font-size: 12px;
    text-decoration: line-through;
    bottom: 45px;
    position: absolute;
}

.checkform select {
	width: 360px;
    height: 34px;
    font-size: 15px;
    padding: 6px;
}

.error {
	border-color: red !important;
}

.shopping_cart .confirm-list {
	width: 85%;
}

.subtotalbreakdown.confirm {
	width: 500px;
}

select.pad-5 {
	padding: 5px !important;
}

.btn.pending {
	background: #f0ad4e;
}
.btn.processed {
	background: #00c0ef;
}
.btn.shipped {
	background: #3c8dbc;
}
.btn.delivered {
	background: #00a65a;
}
.btn.declined {
	background: #dd4b39;
}
.btn.canceled {
	background: #ABABAB;
}

#tabledata-user-orders_info {
	margin-left: 18px;
}

.tablelist {
	margin-bottom: 35px;
}

img.thumb {
	width:70px;
}

.btnproceed {
	font-size: 12px;
}

.profile-row {
	margin: 10px; }
	.profile-row.bottom {
		padding-bottom: 10px;
		border-bottom: #cccccc solid 1px;}
	.profile-row h4 {
		position: relative;
	}

#store-submit,
#save-profile,
#btn-change-pass,
#address-add {
	float: right;
    margin-right: 15px;
    margin-bottom: 10px;
}

.cp-msg {
	display: none;
	color: red !important;
	margin-bottom: 5px;
}
#change-pass-link {
	color: #3c8dbc;
	margin-left: 20px;
    text-decoration: underline;
}

/*// -----  shopper profile -----*/

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.tablerow{
	padding:15px 0;
}
.tablelist{
	border:#c4c4c4 solid 1px;
    border-collapse: collapse;
	width:100%
}
.tablelist .tablecontent{
	margin:20px;
	width:900px;
}
.tablelist .vendorsidebar{
	border-left:#d0d0d0 solid 1px;
}
.tablelist .table-bordered,
.tablelist .table-bordered tr td{
	border:none;
}
.tablelist .table-bordered tr th{
	color:#d0164b;
	text-transform:uppercase;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:600;
		border:none;
	border-bottom:#dcdcdc solid 3px;
}
.tablelist .table-bordered tr td{
	padding:15px 10px;
	border-bottom:#dcdcdc solid 1px;
}

.vendorsidebar{
	width:242px;
	padding:22px 0
}
.vendorsidebar h3{
	margin:0 15px;
	font-weight:600;
	margin-bottom:20px;
	color:#000
}
.vendorsidebar .advanced,
.vendorsidebar .box-body{
	margin:0 15px;
	padding:0;
}
.vendorsidebar .box-body .form-group{
	margin-bottom:10px;
}
.vendorsidebar .box-body .form-group input[type=text],
.vendorsidebar .box-body .form-group input[type=email]{
	-moz-border-radius:3px  !Important;
	-webkit-border-radius:3px  !Important;
	-o-border-radius:3px  !Important;
	border-radius:3px !Important;
}
.vendorsidebar  .btn-primary{
	margin:0 15px 20px 15px;
	background:#d0164b;
	display:block;
	width:201px;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
	-o-border-radius:0;
	border:none;
	text-align:center;
	text-transform:uppercase;
	font-size:14px;
	font-weight:600;
		font-family: 'Montserrat', sans-serif;
	letter-spacing:2px
}
.vendorsidebar  .box-body{
	margin-bottom:18px;
}
.vendorsidebar  .searchbtn:hover{
	background:#b00a3a
}
.vendorsidebar .advanced .advanced-btn{
	font-size:12px;
	color:#000;
	border-bottom:#898989 solid 1px;
}
.titlehead{
	margin:0 0 15px 0;
	/*overflow:auto;*/
}
.titlehead h3{
	color:#000;
}
.titlehead  .option{
	/*float:right;
	margin:15px 0 0 0*/
}
.titlehead h3{
	float:left;
}
.clear{
	clear:both;
}

.titlehead  .option .glyphicon-cog{
	font-size:16px;
}.titlehead  .option .btn-default{
	padding:5px 10px ;
	color:#000
}
.titlehead  .option .caret{
	margin-left:5px;
	position:relative;
	top:-1px;
	color:#7f7f7f
}
.vendorsidebar .total {
	margin:0 15px;
}
.vendorsidebar .total dt{
	width:140px;
	text-align:left;
	margin:0 0 5px 0;
}
.vendorsidebar .total  dd{
	width:60px;
	    margin-left: 150px;
		text-align:right
}
.prodcat table tr th span,
.prodcat table tr td span{
	color:#a6a6a6;
	font-size:10px;
	margin-right:5px
}
.tablelist .status{
	color:#d0164b
}
.tablelist td small{
	font-size:10px;
}
.addbtn{
		margin-right:10px
}
.addbtn span{
	    -ms-transform: rotate(46deg); /* IE 9 */
    -webkit-transform: rotate(46deg); /* Chrome, Safari, Opera */
    transform: rotate(46deg);
	color:#8b8b8b;
	font-size:16px;
	display:inline-block;

}
.tablelist .pagination{
	
}
.tablelist .pagination li a{
	margin:0 10px 0 0;
	text-transform:capitalize;
	color:#848484;
	-moz-border-radius:3px !important;
	-webkit-border-radius:3px !important;
	-o-border-radius:3px !important;
	border-radius:3px !important;
}
.tablelist .pagination li.active a,
.tablelist .pagination li a:hover{
	background:#d0164b;
	color:#fff;
	border:transparent solid 1px;
}
.tablelist.product table tr th{
	border-bottom:0;
	padding-bottom:0;
}
.tablelist.product table tr th{
	border-bottom:#dcdcdc solid 2px;
}
.tablelist.product table td{
	vertical-align:middle;
	text-align:left
}
.tablelist.product table td span{
	color:#1a8ce4;
	font-size:14px;
}
.tablelist.product table td  h4{
	text-transform:uppercase;
	color:#000;
	margin:3px 0;
}
.tablelist.product table td  p{
color:#888888
}
.tablelist.product table td .dropdown span{
	color:#000
}	
.tablelist.product table td .dropdown .caret{
	color:#7f7f7f
}	
.tablelist.product table td  .status a{
color:#d0164b
}.tablelist.product table td  .status a .caret{
color:#d0164b
}
.tablelist.product table td .code{
	float:left;
	display:block;
	margin-right:10px;
	padding:5px 0;
	color:#000;
}.tablelist.product table td input[type=text]{
	float:left;
	width:100px;
		-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	border:#bbbbbb solid 1px;
	padding:0 5px;
	color:#000;
}
.dboard{
	clear:both;
}
.btnstatus button{
	padding:1px 4px;
	color:#fff;
	position:relative
}

.vendorsidebar .recentreports{
	margin-top:-22px;
}
.vendorsidebar .recentreports {
		margin-bottom:30px
	}
.vendorsidebar .recentreports a.active,
.vendorsidebar .recentreports a:hover{
	background:#dcdcdc;
	color:#d0164b
	}
.vendorsidebar .recentreports a{
	color:#000;
	display:block;
	padding:15px 18px;
	border-bottom:#dcdcdc solid 1px;
	}
.vendorsidebar .recentreports i{
	display:none;
	}
	.vendorsidebar .recentreports a.active i,
	.vendorsidebar .recentreports a:hover i{
	display:block;
	}
.vendorsidebar  .search{
	clear:both;
}

/*=======================*/
#wishlist table h5{
	margin:0;
	padding:0;
}
#wishlist table .articleid{
	display:block;
	padding:2px 0;
}
#wishlist table td{
	vertical-align:middle
}
#wishlistsidebar h3{
	text-transform:uppercase;
	color:#003265
}

/* -- */
input[name="card-sec"] {
	width: 100px !important;
}
input[name="lname"],
input[name="fname"] {
	/*width: 153px !important;*/
}

/* -- */

#store-desc {
	height: 134px !important;
}

.tablecontent .alert{
	/*display: none;*/
}

.store-pending {
	color: rgb(0, 128, 16);
	margin-left: 25px;
	/*display: none;*/
}

.docs-corporate {
	display: none;
}

.preview-doc img {
	width: 30%
}

h2.new-account {
	color: #003366;
	margin-bottom: 25px;
}
#new-account-submit {
    width: 150px;
    margin: -15px 40px 40px 0px;
}
.remember-me {

	font-weight: normal;
}

#change-password {
	width: 325px; }

.btn-left-pad {
	margin-right: 5px;
}

#cat-list {
	display: none;
	border: 1px solid #ADADAD;
	list-style-type: none;
    margin-top: 6px;
    padding: 5px 5px 1px}
    #cat-list li {
    	border: 1px solid;
	    display: inline-block;
	    border-radius: 2px;
	    padding: 0px 5px;
	    background-color: #00c0ef;
	    border-color: #00acd6;
	    color: #fff;
	    margin-bottom: 4px;
	    margin-right: 4px;
    }

.cat-pop-up-trigger {
    position: absolute;
    top: -8px;
    right: 14px;
}

.loginslides {
    margin-bottom: 75px;
}


.categorieslink {
	height: 465px;
    display: block;
    overflow: auto;
    padding: 0px;
}

.leftdrawer {
	position: relative;
}

.thumbfeatures {
	position: absolute;
    top: 52px;
    right: 0px;
    border: none;
    width: 380px;
    padding-right: 0px;
    padding-top: 3px;
}

.thumbfeatures li {
	border: none;
}

.leftdrawer .thumbfeatures li {
	width: auto !important;
}

.thumbfeatures li img:hover {
	    -moz-box-shadow: 0 0 6px -2px #000;
    box-shadow: 0 0 6px -2px #000;
}

/* -----*/

.cart-tooltip.wyc-cart-tooltip {
	padding: 10px;
    border: 1px solid transparent;
    color: #c7c7c7;
    font-size: 12px;
    width: 320px;
    line-height: 16px;
    background: #333;
    opacity: .98;
    filter: alpha(opactiy=98);
    -ms-filter: "alpha(opacity=98)";
    -moz-opacity: .98;
    -khtml-opacity: .98;
}

.cart-tooltip.wyc-cart-tooltip:after {
	    bottom: 100%;
    left: 50%;
    border: 1px solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #333;
    border-width: 9px;
}
.cart-tooltip {
	    border: #ccc solid 1px;
    padding: 0;
    margin: -1px 0 0 0;
    max-width: 390px;
    min-width: 111px;
    font-size: 13px;
    color: #565656;
    z-index: 20000;
    -webkit-box-shadow: -1px 4px 7px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: -1px 4px 7px 1px rgba(0,0,0,0.3);
    box-shadow: -1px 4px 7px 1px rgba(0,0,0,0.3);
}

.wyc-cart-tooltip {
	    background: none repeat scroll 0 0 #fff;
    border: 1px solid #999;
    font-size: 11px;
    padding: 15px;
    position: absolute;
    text-align: left;
    max-width: 350px;
    z-index: 1;
    display: none;
}

.cart-tooltip .wyc-cart-tooltip-close {
    width: 11px;
    height: 10px;
    right: 5px;
    top: 5px;
}

.wyc-cart-tooltip-close {
    cursor: pointer;
    display: block;
    height: 11px;
    position: absolute;
    right: 3px;
    top: 3px;
    width: 10px;
}

.cart-tooltip.wyc-cart-tooltip .title {
	margin-bottom: 5px;
    float: left;
    width: 180px;
}

.cart-tooltip.wyc-cart-tooltip .image {
	width: 100px;
    float: left;
    text-align: center;
    margin-right: 10px;
    background: #fff;
}

.cart-tooltip.wyc-cart-tooltip .image img {
	margin: 10px auto;
    max-width: 75px;
    max-height: 75px;
}

.cart-tooltip.wyc-cart-tooltip .title strong {
	    font-weight: normal;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.cart-tooltip .shopping,
.cart-tooltip .wishlist {
	display: none;
}

.shopping_cart .title {
	margin-bottom: 0px;
}

.subtotalbreakdown {
	margin-bottom: 40px;
}

.btn-right-pad {
	margin-right: 5px;
}

.guest-checkout {
	margin-top: 10px;
}

.guest-login {
	margin-left: 40px;
	width: 390px;
}
.guest-signup {
	width: 300px;
	margin-left: 40px;
}

.pad-bottom-5 {
	margin-bottom: 5px;
}

.guest-signup .signup{
	position: relative;
	margin-left: 20px; }
	.guest-signup ul {
		margin-left: 20px; }
	.guest-signup ul li {
		margin-bottom: 3px;}
	.guest-signup .or {
		position: absolute;
		top: 64px;
	    left: -36px;
	    font-weight: bold;
	}

.shipping-info {
	margin-left: 60px;
    margin-top: 20px;}
    .shipping-info dl dt{
    	width: 180px;
    	font-size: 20px;
    	margin-top: 2px;
    	font-weight: normal;}
    .shipping-info dl dd {
    	font-size: 23px;
    	margin-left: 165px;}
    .shipping-info dl dd code {
    	padding: 0px 4px;
    }

.cardhold input {
	width: 225px !important;
}
.card-type {
	height: 200px;
}
.card-info {
	padding-left: 25px;
}
.bank-pay-msg {
	color:#808080;
	font-size: 15px;
    font-weight: normal;
}

.totalbreakdown li{
	/*position: relative;*/
}
.totalbreakdown img {
	/*background:#e6e6e6;*/
	display:inline-block;
	padding: 6px;
    width: 60px;
    margin-top: -15px;
}

.summary-item {
	display: inline-block;
}

.addcart.disabled,
.addcartbtn.disabled {
	background: #aaa !important;
}

.wish-options li {
	padding: 0px;
}

.addcartbtn  {
	padding: 2px 10px;
}

.cart-to-wish {
	color:#333333;
}

#treetable-cats {
	width: 225px;
}

#treetable-cats label {
	/*display: inherit;*/
	font-weight: normal;
}

.treetable {
	margin: 0px !important;}
	.treetable tr {
		background-color: #fff !important;}
	.treetable tr td {
		padding: 0px !important;
	}
.mfp-content .box {
	margin-bottom: 0px;
}

.pps {
	border: 1px solid #d2d6de;
    list-style-type: none;
    padding: 5px 5px 1px;}
    .pps .btn {
    	border: 1px solid;
	    display: inline-block;
	    border-radius: 2px;
	    padding: 2px 7px;
	    vertical-align: inherit;
	    border: 1px solid #B9B9B9;
	    margin: 0px 4px 4px 0px;}
    .pps .list {
    	display: inline-block !important;
	    padding: 0px;
	    margin: 0px;}
    .pps .option {
    	border: 1px solid;
	    display: inline-block;
	    border-radius: 2px;
	    padding: 0px 5px;
	    background-color: #00c0ef;
	    border-color: #00acd6;
	    color: #fff;
	    margin-right: 4px;
	    margin-bottom: 4px; }
    .pps .pps-del {
    	margin-left: 5px;}
	.pps-treetable {
		min-width: 225px;}
	.pps-treetable label {
	    font-weight: normal;
	}
