a.logo,
.navbar-static-top {
	background: #1e282c !important} 
	.wyc-logo-sml {
	    margin: auto;
	    margin-top: 10px;
	    height: 29px;
	    background: url(images/logo2.png) no-repeat;
	}

.order-filters{
	position: absolute;
    top: 20px;
    right: 135px;
}

[id*="dtbl-"] {
	overflow: hidden;
}

.label-pending {
	color: #fff !important;
	background-color: #f0ad4e !important;
}
.label-processed {
	color: #fff !important;
	background-color: #00c0ef !important;
}
.label-shipped {
	color: #fff !important;
	background-color: #3c8dbc !important;
}
.label-delivered {
	color: #fff !important;
	background-color: #00a65a !important;
}
.label-declined {
	color: #fff !important;
	background-color: #dd4b39 !important;
}
.label-canceled {
	color: #fff !important;
	background-color: #ABABAB !important;
}

.or-store-info li{
	width: 100%;
}

.dl-horizontal dt {
	width: 125px !important;
}
.dl-horizontal dd {
	margin-left: 130px !important;
}
.status-info {
	background-color: #d9edf7 !important;
	color:#333 !important;
}
#track-num {
	width: 160px;
    height: 21px;
    padding: 0px 5px;
}

.mfp-content {
	background-color: #fff;
    /*padding: 4px 20px 0px;*/
    border-radius: 5px;
}

#user-popup {
	width: 600px !important;
}

#store-desc {
	height: 133px;
}

.docs-corporate {
	display: none;
}

.preview-doc img {
	width: 30%
}

.mfp-close {
	display: none !important;
}

#decline-submit {
	margin-right: 5px;
}

#decline-store {
	margin-bottom: 0px;
}

.box-title h3 {
	position: relative;
}
.cat-pop-up-trigger {
	position: absolute;
    top: 7px;
    right: 25px;
    padding: 3px 10px;
}

.box-tools .btn {
	padding: 3px 10px;	
}

#treetable-cats {
	width: 225px;
}

#treetable-cats label {
	/*display: inherit;*/
	font-weight: normal;
}

#cat-list {

	display: none;
	border: 1px solid #d2d6de;
	list-style-type: none;
    margin-top: 6px;
    padding: 5px 5px 1px
}
    #cat-list li {
    	border: 1px solid;
	    display: inline-block;
	    border-radius: 2px;
	    padding: 0px 5px;
	    background-color: #00c0ef;
	    border-color: #00acd6;
	    color: #fff;
	    margin-bottom: 4px;
	    margin-right: 4px;
    }

.btn-left-pad { /*LOL!*/
	margin-right: 5px;
}
.btn-right-pad {
	margin-right: 5px;
}

#cat-list-choose {
	margin-bottom: 0px; 
}

.addproduct .nav-tabs{
	margin:0 0 15px 0;
}

.addprod_form h3{
	margin:0px 0 30px 0;
	border-bottom:#d2d6de solid 1px;
	padding-bottom:8px;
}

.addproduct small{
	color:red
}

.addproduct .labelname{
	text-align:right
}

.addproduct  .row{
	margin-bottom:10px;
}

.tab-content {
	padding: 0px 10px;
}

.fileinput-preview {
	display: inline-block !important;
}

#tbl-variants .action {
	padding-top: 15px;
}


.mjs-nestedSortable-error {
	background: #fbe3e4;
	border-color: transparent;
}

ol {
	margin: 0;
	padding: 0;
	padding-left: 30px;
}

ol.sortable, ol.sortable ol {
	margin: 0 0 0 25px;
	padding: 0;
	list-style-type: none;
}

ol.sortable {
	margin: 10px;
}

.sortable li {
	margin: 5px 0 0 0;
	padding: 0;
}

.sortable [class^="icon-"], [class*=" icon-"] {
	width: 20px;
display: inline-block;
}

.sortable li div.item-content  {
	border: 1px solid #d4d4d4;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-color: #D4D4D4 #D4D4D4 #BCBCBC;
	padding: 6px;
	margin: 0;
	cursor: move;
	background: #f6f6f6;
	/*width: 450px;*/
}

.placeholder {
	outline: 1px dashed #4183C4;
	/*width: 450px;*/
}

/*.sortable li.mjs-nestedSortable-branch div {
	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #f0ece9 100%);
	background: -webkit-linear-gradie	t(top,  #ffffff 0%,#f6f6f6 47%,#f0ece9 100%);

}

.sortable li.mjs-nestedSortable-leaf div {
	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #bcccbc 100%);
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#bcccbc 100%);
*/
}

li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div {
	border-color: #999;
	background: #fafafa;
}

.disclose {
	cursor: pointer;
	width: 10px;
	display: none;
	margin-right: 5px;
}

.sortable li.mjs-nestedSortable-collapsed > ol {
	display: none;
}

.sortable li.mjs-nestedSortable-branch > div > .disclose {
	display: inline-block;
}

.sortable li.mjs-nestedSortable-collapsed > div > .disclose > span:before {
	content: "►";
	font-size: 9px;
}

.sortable li.mjs-nestedSortable-expanded > div > .disclose > span:before {
	content: "▼";
	font-size: 9px;
}

.item-content i.fa:hover {
	cursor: pointer;
	/*color: #333;*/
}

.upload-note {
	color: #333 !important;
}

.treetable {
	margin: 0px !important;}
	.treetable tr {
		background-color: #fff !important;}
	.treetable tr td {
		padding: 0px !important;
	}
.mfp-content .box {
	margin-bottom: 0px;
}

.pps {
	border: 1px solid #d2d6de;
    list-style-type: none;
    padding: 5px 5px 1px;}
    .pps .btn {
    	border: 1px solid;
	    display: inline-block;
	    border-radius: 2px;
	    padding: 2px 7px;
	    vertical-align: inherit;
	    border: 1px solid #B9B9B9;
	    margin: 0px 4px 4px 0px;}
    .pps .list {
    	display: inline-block !important;
	    padding: 0px;
	    margin: 0px;}
    .pps .option {
    	border: 1px solid;
	    display: inline-block;
	    border-radius: 2px;
	    padding: 0px 5px;
	    background-color: #00c0ef;
	    border-color: #00acd6;
	    color: #fff;
	    margin-right: 4px;
	    margin-bottom: 4px; }
    .pps .pps-del {
    	margin-left: 5px;}
	.pps-treetable {
		min-width: 225px;}
	.pps-treetable label {
	    font-weight: normal;
	}