@font-face {
	font-family: 'arrow-left';
	src:url('../fonts/arrow-left.eot?-6qwvog');
	src:url('../fonts/arrow-left.eot?#iefix-6qwvog') format('embedded-opentype'),
		url('../fonts/arrow-left.ttf?-6qwvog') format('truetype'),
		url('../fonts/arrow-left.woff?-6qwvog') format('woff'),
		url('../fonts/arrow-left.svg?-6qwvog#arrow-left') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-arrow"], [class*=" icon-arrow"] {
	font-family: 'arrow-left';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrowarrow395:before {
	content: "\395";
}


@font-face {
	font-family: 'circ';
	src:url('../fonts/circ.eot?-lwdi44');
	src:url('../fonts/circ.eot?#iefix-lwdi44') format('embedded-opentype'),
		url('../fonts/circ.ttf?-lwdi44') format('truetype'),
		url('../fonts/circ.woff?-lwdi44') format('woff'),
		url('../fonts/circ.svg?-lwdi44#circ') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-circ"], [class*=" icon-circ"] {
	font-family: 'circ';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-circcircle109:before {
	content: "\1542";
}


.icon-circcircle109:before {
	content: "\e600";
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?u72q16');
	src:url('../fonts/icomoon.eot?#iefixu72q16') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?u72q16') format('truetype'),
		url('../fonts/icomoon.woff?u72q16') format('woff'),
		url('../fonts/icomoon.svg?u72q16#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@font-face {
	font-family: 'arrow';
	src:url('../fonts/arrow.eot?-dg0k3s');
	src:url('../fonts/arrow.eot?#iefix-dg0k3s') format('embedded-opentype'),
		url('../fonts/arrow.ttf?-dg0k3s') format('truetype'),
		url('../fonts/arrow.woff?-dg0k3s') format('woff'),
		url('../fonts/arrow.svg?-dg0k3s#arrow') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'footericons';
	src:url('../fonts/footericons.eot?-4oxjgn');
	src:url('../fonts/footericons.eot?#iefix-4oxjgn') format('embedded-opentype'),
		url('../fonts/footericons.ttf?-4oxjgn') format('truetype'),
		url('../fonts/footericons.woff?-4oxjgn') format('woff'),
		url('../fonts/footericons.svg?-4oxjgn#footericons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-footer"], [class*=" icon-footer"] {
	font-family: 'footericons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: 'logicon';
	src:url('../fonts/logicon.eot?-lthxw1');
	src:url('../fonts/logicon.eot?#iefix-lthxw1') format('embedded-opentype'),
		url('../fonts/logicon.ttf?-lthxw1') format('truetype'),
		url('../fonts/logicon.woff?-lthxw1') format('woff'),
		url('../fonts/logicon.svg?-lthxw1#logicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-logicon"], [class*=" icon-logicon"] {
	font-family: 'logicon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@font-face {
	font-family: 'registrationicon';
	src:url('../fonts/registrationicon.eot?114d6i');
	src:url('../fonts/registrationicon.eot?#iefix114d6i') format('embedded-opentype'),
		url('../fonts/registrationicon.ttf?114d6i') format('truetype'),
		url('../fonts/registrationicon.woff?114d6i') format('woff'),
		url('../fonts/registrationicon.svg?114d6i#registrationicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-registrationicon"], [class*=" icon-registrationicon"] {
	font-family: 'registrationicon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@font-face {
	font-family: 'more';
	src:url('../fonts/more.eot?c27tva');
	src:url('../fonts/more.eot?#iefixc27tva') format('embedded-opentype'),
		url('../fonts/more.ttf?c27tva') format('truetype'),
		url('../fonts/more.woff?c27tva') format('woff'),
		url('../fonts/more.svg?c27tva#more') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-more"], [class*=" icon-more"] {
	font-family: 'more';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-moreadd1392:before {
	content: "\e600";
}

.icon-registrationiconinfo24:before {
	content: "\e600";
}
.icon-registrationiconmail57:before {
	content: "\e601";
}
.icon-registrationiconround68:before {
	content: "\e602";
}


.icon-logiconemail19:before {
	content: "\e600";
}
.icon-logiconpassword19:before {
	content: "\e601";
}

.icon-footeroperator:before {
	content: "\e600";
}
.icon-footercredit-card5:before {
	content: "\e601";
}
.icon-footerdelivery52:before {
	content: "\e602";
}
.icon-footeruser7:before {
	content: "\e603";
}

.icon-operator:before {
	content: "\e600";
}
.icon-credit-card5:before {
	content: "\e601";
}
.icon-delivery52:before {
	content: "\e602";
}
.icon-user7:before {
	content: "\e603";
}


.icon-move13:before {
	content: "\e600";
}

.icon-car186:before {
	content: "\e609";
}
.icon-elegant3:before {
	content: "\e60a";
}
.icon-shoes31:before {
	content: "\e60b";
}
.icon-basketball32:before {
	content: "\e600";
}
.icon-briefcase13:before {
	content: "\e601";
}
.icon-dresses6:before {
	content: "\e602";
}
.icon-iphone26:before {
	content: "\e603";
}
.icon-kitchenpack25:before {
	content: "\e604";
}
.icon-makeup7:before {
	content: "\e605";
}
.icon-rocking1:before {
	content: "\e606";
}
.icon-sportive5:before {
	content: "\e607";
}
.icon-wiping11:before {
	content: "\e608";
}