body,html{
font-family: 'Open Sans', sans-serif;
}

@font-face {
	font-family: 'headericon';
	src:url('glyphs/headericon.eot?8ya086');
	src:url('glyphs/headericon.eot?#iefix8ya086') format('embedded-opentype'),
		url('glyphs/headericon.ttf?8ya086') format('truetype'),
		url('glyphs/headericon.woff?8ya086') format('woff'),
		url('glyphs/headericon.svg?8ya086#headericon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-header"], [class*=" icon-header"] {
	font-family: 'headericon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-headerdollar185:before {
	content: "\e600";
}
.icon-headerearth53:before {
	content: "\e601";
}
.icon-headerusers81:before {
	content: "\e602";
}
.icon-headerearth:before {
	content: "\e603";
}


header .tophead{
	background:#181818;
	padding:5px 0 0 0;
}
header .navbar{
	margin:0;
	min-height:auto;
}
header .navbar-nav>li>a{
	padding:0;
	margin:0;
}
.logo{
	width:48px;
	height:29px;
	background:url(images/logo2.png) no-repeat;
	text-indent:-99999px;
	display:block;
}
header .navbar-nav>li>a{
	display:block;
	padding:0 20px;	
}
header .navbar-nav>li>a{
	border-right:#323232 solid 1px;

}
header .navbar-nav>li>a span{
	color:#d0164b;
}	

header .navbar-nav>li>a .caret{
	color:#8c8c8c;
	position:relative;
	top:-2px;
}
header .navbar-nav{
	margin-top:5px;
}
#headermenu{
	background:#ecf0f1;
	padding:10px 0;
}
#headermenu .nav li{

}
#headermenu .nav li a{
	color:#000;
	text-transform:uppercase;
	font-size:14px;
		border:none;
	font-family: 'Montserrat', sans-serif;
	font-weight:700
}
#headermenu .nav li a .caret{
	margin-left:10px;
}
#headermenu #search{
	background:#fdfdfd;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	-o-border-radius:20px;
	border:none;
	margin:0;
	border:#c6c7c7 solid 1px;
}
#headermenu #search .form-control{
	background:none;
	border:none;
	width:250px
}
#headermenu .nav{
	margin-top:0px;
}	
#headermenu #search .btn-default i{
color:#a5a5a5
}
#headermenu #search .btn-default:hover,#headermenu #search .btn-default:active , #headermenu #search .btn-default.hover{
	background:none !important;
	border:none;
	
}
#headermenu #search .btn-default{
	background:none;
	border:none;
	padding-left:0;
	padding-right:0
}
header #headermenu .navbar-nav>li>a{
	padding:8px 20px
}
#account.navbar-nav>li>.dropdown-menu{
	background:#d0164b;
	border:none
}#account.navbar-nav>li>.dropdown-menu a:hover{
	background:#b00a3a;
	border:none
}
#account.navbar-nav>li>.dropdown-menu a{
	color:#fff
}
#account  a{
	color:#747474;
		text-transform:uppercase
}
#account.navbar-nav>li{
	padding-bottom:5px;
}
#account.navbar-nav>li.open{
		background:#d0164b;
}

#account .open a,
#account  a:hover,
#account a:hover span,
#account .open>a span{
	color:#fff;
}
#account a:hover,
#account .open>a, #account .open>a:focus,#account .open>a:hover{
	background:#d0164b;
	border-right:transparent solid 1px
}
#headermenu.navbar li.open a{
	    background: #d0164b;
		color:#fff
}
#headermenu .dropdown-menu{
	padding-top:0;
	border:0;
}
 #headermenu.navbar li.active  a{
 background:#d0164b;
 	color:#fff
 }
 #headermenu.navbar li.open  a:hover{
	  	background:#b00a3a !important;
		color:#fff
}
 #headermenu.navbar li.open .caret{
			color:#fff;
}
header .dropdown-menu>li>a{
    padding: 10px 20px;
}
.formtable{
	
}
.formtable .tablecontent{
border:#d0d0d0 solid 1px;
}
.formtable .tablesidebar{
border:#d0d0d0 solid 1px;
}
/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.tablerow{
	padding:15px 0;
}
.tablelist{
	border:#c4c4c4 solid 1px;
    border-collapse: collapse;
	width:100%
}
.tablelist .tablecontent{
	margin:20px;
	width: 96%;
}
.tablelist .vendorsidebar{
	border-left:#d0d0d0 solid 1px;
}
.tablelist .table-bordered,
.tablelist .table-bordered tr td{
	border:none;
}
.tablelist .table-bordered tr th{
	color:#d0164b;
	text-transform:uppercase;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:600;
		border:none;
	border-bottom:#dcdcdc solid 3px;
}
.tablelist .table-bordered tr td{
	padding:10px 10px;
	border-bottom:#dcdcdc solid 1px;
}
.vendorsidebar{
	width:242px;
	padding:22px 0
}
.vendorsidebar h3{
	margin:0 15px;
	font-weight:600;
	margin-bottom:20px;
	color:#000
}
.vendorsidebar .advanced,
.vendorsidebar .box-body{
	margin:0 15px;
	padding:0;
}
.vendorsidebar .box-body .form-group{
	margin-bottom:10px;
}
.vendorsidebar .box-body .form-group input[type=text],
.vendorsidebar .box-body .form-group input[type=email]{
	-moz-border-radius:3px  !Important;
	-webkit-border-radius:3px  !Important;
	-o-border-radius:3px  !Important;
	border-radius:3px !Important;
}
.vendorsidebar  .btn-primary{
	margin:0 15px 20px 15px;
	background:#d0164b;
	display:block;
	width:201px;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
	-o-border-radius:0;
	border:none;
	text-align:center;
	text-transform:uppercase;
	font-size:14px;
	font-weight:600;
		font-family: 'Montserrat', sans-serif;
	letter-spacing:2px
}
.vendorsidebar  .box-body{
	margin-bottom:18px;
}
.vendorsidebar  .searchbtn:hover{
	background:#b00a3a
}
.vendorsidebar .advanced .advanced-btn{
	font-size:12px;
	color:#000;
	border-bottom:#898989 solid 1px;
}
.titlehead{
	margin:0 0 15px 0;
	/*overflow:auto;*/
}
.titlehead h3{
	color:#000;
}
.titlehead  .option{
	/*float:right;
	margin:15px 0 0 0*/
}
.titlehead h3{
	float:left;
}
.clear{
	clear:both;
}

.titlehead  .option .glyphicon-cog{
	font-size:16px;
}.titlehead  .option .btn-default{
	padding:5px 10px ;
	color:#000
}
.titlehead  .option .caret{
	margin-left:5px;
	position:relative;
	top:-1px;
	color:#7f7f7f
}
.vendorsidebar .total {
	margin:0 15px;
}
.vendorsidebar .total dt{
	width:140px;
	text-align:left;
	margin:0 0 5px 0;
}
.vendorsidebar .total  dd{
	width:60px;
	    margin-left: 150px;
		text-align:right
}
.prodcat table tr th span,
.prodcat table tr td span{
	color:#a6a6a6;
	font-size:10px;
	margin-right:5px
}
.tablelist .status{
	color:#d0164b
}
.tablelist td small{
	font-size:10px;
}
.addbtn{
		margin-right:10px
}
.addbtn span{
	    -ms-transform: rotate(46deg); /* IE 9 */
    -webkit-transform: rotate(46deg); /* Chrome, Safari, Opera */
    transform: rotate(46deg);
	color:#8b8b8b;
	font-size:16px;
	display:inline-block;

}
.tablelist .pagination{
	
}
.tablelist .pagination li a{
	margin:0 10px 0 0;
	text-transform:capitalize;
	color:#848484;
	-moz-border-radius:3px !important;
	-webkit-border-radius:3px !important;
	-o-border-radius:3px !important;
	border-radius:3px !important;
}
.tablelist .pagination li.active a,
.tablelist .pagination li a:hover{
	background:#d0164b;
	color:#fff;
	border:transparent solid 1px;
}
.tablelist.product table tr th{
	border-bottom:0;
	padding-bottom:0;
}
.tablelist.product table tr th{
	border-bottom:#dcdcdc solid 2px;
}
.tablelist.product table td{
	vertical-align:middle;
	text-align:left
}
.tablelist.product table td span{
	color:#1a8ce4;
	font-size:14px;
}
.tablelist.product table td  h4{
	text-transform:uppercase;
	color:#000;
	margin:3px 0;
}
.tablelist.product table td  p{
color:#888888
}
.tablelist.product table td .dropdown span{
	color:#000
}	
.tablelist.product table td .dropdown .caret{
	color:#7f7f7f
}	
.tablelist.product table td  .status a{
color:#d0164b
}.tablelist.product table td  .status a .caret{
color:#d0164b
}
.tablelist.product table td .code{
	float:left;
	display:block;
	margin-right:10px;
	padding:5px 0;
	color:#000;
}.tablelist.product table td input[type=text]{
	float:left;
	width:100px;
		-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
	border:#bbbbbb solid 1px;
	padding:0 5px;
	color:#000;
}
.dboard{
	clear:both;
}
.btnstatus button{
	padding:1px 4px;
	color:#fff;
	position:relative
}

.yellow{
	background:#eaa510;
}
.green{
	background:#6ebf26;

}
.gray{
	background:#a6a6a6
}
.violet{
	background:#d0164b
}
.blue{
	background:#5bb7b8
}

.dataTable {
	    border-spacing: 0;
    border-collapse: collapse;
}

.dataTable th{
	    color: #d0164b;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    border: none;
    border-bottom: #dcdcdc solid 3px;
	padding:10px;
}
.dataTable td{
	border:none;
    padding: 20px 10px;
    border-bottom: #dcdcdc solid 1px;
}

.tab-pane{
	display:none
}

#tablenav li a{
	color: #000;
    text-transform: uppercase;
    font-size: 13px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
	padding:8px  10px 10px 10px !important;
	margin:0;
	margin-bottom: 7px;
}
#tablenav>li.active{
	border-top:#d0164b solid 3px;
    margin-bottom: -2px;
    margin-right: 5px;
}
#tablenav>li.active a{
    background:#d0164b;
	color:#fff;

}
.nav-tabs#tablenav {
	margin:5px 0 0 0;
}
.cat h3{
	text-align:center;
	margin:0;
	padding:0;
}
.cat .box-title{
	font-size:15px;
}
#ordertable td p{
	color:#000;
	margin:0;
	padding:0;
}
#ordertable td span{
	font-size:10px;
	color:#7f7f7f
}
#ordertable .btnstatus .caret{
	color:#fff;
}
.editprofile .top{
	border-bottom:#cccccc solid 1px;
}
.editprofile h4{
	margin:0 0 30px 0;
}
.editprofile  .radio{
	margin:-27px 0 5px 0;
}
.editprofile  .radio .checkbox-inline{
	    min-height: 20px;
    padding-left:0;
	padding-right:20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}.editprofile  .btn{
	  width:211px;
	  padding:5px 0;
	  text-align:center;
	  text-transform:uppercase;
	  color:#fff;
	  background:#d0164b;
	  font-weight:700;
	  margin-top:20px;
}
.editprofile .row{

}
.br{
	border-bottom:#cccccc solid 1px;
	height:1px;
	clear:both;
			margin-bottom:20px;
		padding-bottom:20px;
}


/*--------------------*/
.tabreports ul li {
	    display: table-cell;
    width: 1%;
	background:#ededed;
	text-align:center;
	float:none;
		border-right:#d5d5d5 solid 1px;
		border-bottom:0;
		vertical-align:middle
}
.tabreports ul li.first,
.tabreports ul li.first.active,
.tabreports ul li.first:focus,
.tabreports ul li.first.active a{
	-moz-border-radius:3px 0 0 3px;
	-o-border-radius:3px 0 0 3px;
	-webkit-border-radius:3px 0 0 3px;
	border-radius:3px 0 0 3px;
}
.tabreports ul li.last{
	border:none
}
.tabreports ul li.last,
.tabreports ul li.last.active,
.tabreports ul li.last:focus,
.tabreports ul li.last.active a{
		-moz-border-radius:0px 3px 3px 0px;
	-o-border-radius:0px 3px 3px 0px;
	-webkit-border-radius:0px 3px 3px 0px;
	border-radius:0px 3px 3px 0px;
}
.tabreports ul li a{
	font-size:12px;
	color:#000;
	display:block;
	height:53px;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	-o-border-radius:0;
	border-radius:0;
		border:none;
}	
.tabreports .nav-tabs>li.active>a, .tabreports .nav-tabs>li.active>a:focus, .tabreports .nav-tabs>li.active>a:hover{
	background:#d0164b;
	color:#fff;
	border:none;
	margin:0;

}
.vendorsidebar .recentreports{
	margin-top:-22px;
}
.vendorsidebar .recentreports {
		margin-bottom:30px
	}
.vendorsidebar .recentreports a.active,
.vendorsidebar .recentreports a:hover{
	background:#dcdcdc;
	color:#d0164b
	}
.vendorsidebar .recentreports a{
	color:#000;
	display:block;
	padding:15px 18px;
	border-bottom:#dcdcdc solid 1px;
	}
.vendorsidebar .recentreports i{
	display:none;
	}
	.vendorsidebar .recentreports a.active i,
	.vendorsidebar .recentreports a:hover i{
	display:block;
	}
.vendorsidebar  .search{
	clear:both;
}
.prodchart tr th{
	text-align:Center;
	padding:5px 0 !important;
	text-transform:uppercase;

}
.prodchart tr th,
.prodchart tr td{
		font-size:12px;
}
.prodchart tr  th:nth-child(1){
	text-align:left !important

}.prodchart tr  td:nth-child(1){
	padding-right:0;
	padding-left:0;
		text-align:left !important
}
.prodchart tr  td{
	text-align:center
}
.prodchart .total{
	font-size:16px;
	color:#d0164b;
	font-weight:bold;
}.prodchart .total_price{
	font-weight:bold;
}
.tablelist.product table td{
text-align:center
}
.addproduct .titlehead{
	overflow:inherit;
display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0 3px 3px #e0e0e0;
    -moz-box-shadow: 0 3px 3px #e0e0e0;
    box-shadow: 0 3px 3px #e0e0e0;
    z-index: 11;
    height: 62px;
    background: #f9f9f9;
	padding:0 20px 20px  20px;
}
.addproduct .backlink{
	margin:18px 20px 0 0;
}
.addproduct .btnright {
	margin:15px 0 0;
}
.addproduct .labelname{
	text-align:right
}
.addproduct  .row{
	margin-bottom:20px;
}
.addproduct small{
	color:red
}
.addprod_form h3{
	margin:0px 0 30px 0;
	border-bottom:#d2d6de solid 1px;
	padding-bottom:20px;
}
.addproduct .nav-tabs{
	margin:0 0 30px 0;
}
.aploadentrylist{
	padding:20px 0 0 0;	
}
.aploadentrylist .entry{
	border-bottom:#d2d6de  solid 1px;
	padding-bottom:15px;
}

/*=======================*/
#wishlist table h5{
	margin:0;
	padding:0;
}
#wishlist table .articleid{
	display:block;
	padding:2px 0;
}
#wishlist table td{
	vertical-align:middle
}
#wishlistsidebar h3{
	text-transform:uppercase;
	color:#003265
}
.option .titleleft{
	float:left;
	margin-right:20px;
	margin-top:6px;
}.option .dropdown{
	float:left;
	margin-right:20px;
}
.iconstatus{
	vertical-align:middle
}
.iconstatus i{
	color:#a6a6a6;
	font-size:20px;
}
#wishlist .addcartbtn{
	margin:0;
	padding:5px 20px;
	background:#cd174a
}
#wishlist .pricewhist{
	color:#d1164b
}	
#wishlist .delete a{
	color:#a3a3a3
}
.prod_detail .controlemail{
	position:relative;
}
.prod_detail .controlemail a{
	position:absolute;
	top:30px;
	right:20px;
	color:#cf174b
}
.prod_detail  .bday label{
	color:#a0a0a0;
	text-align:right;
	display:block;
	font-weight:400
}
.prod_detail  .bday{
	position:relative;
}
.prod_detail  .bday h4{
	    position: absolute;
    left: 15px;
    top: -10px;
	font-weight:bold;
	font-size:15px
}
.btndisplay {
	margin-top:40px;
}
.btndisplay a{
	background:#d1164b;
	color:#fff;
	text-transform:uppercase;
	font-size:20px;
	width:201px;
	text-align:Center;
	padding:8px 0;
	display:inline-block;
	font-weight:700;	border:#d1164b solid 3px;
}
.btndisplay .cancel{
	border:#c1c1c1 solid 3px;
	background:#fff;
	color:#c1c1c1;
	font-weight:700
}


#categoryTable {
	border-spacing: 0px !important;
}


#categoryTable  tr td {
	vertical-align: middle;
	border-bottom: 1px solid #ccc;
}

#categoryTable .button-badge {
	font-size: 11px;
	margin-left: 5px;

}

#categoryTable .btn-settings {
	background: none !important;
    border: none;

}

#categoryTable .dropdown-menu {
	border: 1px solid #ccc;
}

.create-cat #catTree {
	border: #ccc solid 1px;
    overflow-y: scroll;
    height: 200px
}

#categoryTable .badge {
	margin-left: 5px;
	font-size: 10px;
}

.admin  .main-sidebar {
	background-color: #181818
}

.admin .main-sidebar a {
	color: #fff
}