a {
	color: #000;
}
a:hover {
	color:#444;
}
.btn.pending {
	background: #f0ad4e;
}
.btn.processed {
	background: #00c0ef;
}
.btn.shipped {
	background: #3c8dbc;
}
.btn.delivered {
	background: #00a65a;
}
.btn.declined {
	background: #dd4b39;
}
.btn.canceled {
	background: #ABABAB;
}

#tabledata-producs {
	margin-top: 0px !important;
}

#tabledata-user-orders_info,
#tabledata-products_info {
	margin-left: 18px;
}

.titlehead {
	position: relative;}
.actions {
	right: 0;
	position: absolute;
	margin-top: 10px;}
	.actions .option {
		display: inline-block;}

#datatable-products tr:hover .hidden-text{
	border: #bbbbbb solid 1px !important;
    background-color: #fff !important;
    -webkit-transition : border 500ms ease-in-out;
	-moz-transition : border 500ms ease-in-out;
	-o-transition : border 500ms ease-in-out;
	transition : border 500ms ease-in-out;
}
.hidden-text {
	/*border: none !important;*/
	border: transparent solid 1px !important;
    background-color: transparent !important;
	width: 85px !important;
    text-align: center;}

    .hidden-text.long {
    	width: 100% !important;}
    .hidden-text.short {
    	width: 50px !important;
    }

#prod-add-new {
	float: left;
    margin-right: 8px;}

#cat-list {
	display: none;
	border: 1px solid #ADADAD;
	list-style-type: none;
    margin-top: 6px;
    padding: 5px 5px 1px}
    #cat-list li {
    	border: 1px solid;
	    display: inline-block;
	    border-radius: 2px;
	    padding: 0px 5px;
	    background-color: #00c0ef;
	    border-color: #00acd6;
	    color: #fff;
	    margin-bottom: 4px;
	    margin-right: 4px;
    }

.white-popup-block {
	background-color: #fff;
    margin: auto;
    padding: 1px 33px 12px;
    position: relative;}
#opt-add,
#cat-list-choose {
	width: 650px;
}
#table-options th,
#table-options td {
	text-align: left;
}

#opt-add .tablelist {
	border: none;
}

#opt-add .tablecontent {
	margin: 0px;
}
.variant-name {
	width: 100% !important;
}

.select2-container {
	padding: 0px !important;
}

.fileinput-preview{
	display: inline-block !important;
}

.addprod_form .alert {
	display: none;
}

.product-image {
	position: relative;
	margin-right: 5px;
}

.product-image a {
	position: absolute;
    right: 8px;
    top: 3px;
    display: none;
}

.product-image a:hover,
.product-image img:hover ~ a {
	display: block;
}

/* -- */
#view-pending-store {
	background-color: #fff;
    width: 750px;
    margin: auto;
    padding: 1px 33px 12px;
    position: relative;
    }

    #view-pending-store .store-section {
    	    border-top: #cccccc solid 1px;
    }

    #store-desc {
	height: 83px !important;
}