@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?u72q16');
	src:url('fonts/icomoon.eot?#iefixu72q16') format('embedded-opentype'),
		url('fonts/icomoon.ttf?u72q16') format('truetype'),
		url('fonts/icomoon.woff?u72q16') format('woff'),
		url('fonts/icomoon.svg?u72q16#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-car186:before {
	content: "\e609";
}
.icon-elegant3:before {
	content: "\e60a";
}
.icon-shoes31:before {
	content: "\e60b";
}
.icon-basketball32:before {
	content: "\e600";
}
.icon-briefcase13:before {
	content: "\e601";
}
.icon-dresses6:before {
	content: "\e602";
}
.icon-iphone26:before {
	content: "\e603";
}
.icon-kitchenpack25:before {
	content: "\e604";
}
.icon-makeup7:before {
	content: "\e605";
}
.icon-rocking1:before {
	content: "\e606";
}
.icon-sportive5:before {
	content: "\e607";
}
.icon-wiping11:before {
	content: "\e608";
}
